* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Fredoka', system-ui, Arial, sans-serif;
    background-color: rgba(255, 255, 255, 0.829);
    line-height: 2;
    width: min(1100px, 95%);
    margin: 0 auto;
}

p {
    width: 40%;
}
.menu {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #fff;
    border-bottom: 4px solid #ff2323;
   justify-content: flex-start;
}

a {
    text-decoration: none;
    padding: 0.6rem 0.8rem;
    color: black;
    border-radius: o.5rem;
}

iframe {
    width: 100%;
    height: 100%;
    border: 1px solid #e9e9e9;
    border-radius: 10px;
}

